.cache
.vscode
.ninja_deps
.ninja_log
cmake_install.cmake
compile_commands.json
build.ninja
CMakeCache.txt
**/CMakeFiles
**/bin
build/
*.o
*.elf
*.txt
!**/CMakeLists.txt
/BREW00000
aerolib.csv
stubber/main.exe
stubber/out/
homebrew/
*.i64
*.lnk
*.til
*.tmp*
lib/libNidResolver.a
lib/libNineS.a
lib/libhijacker.a
libhijacker/libhijacker.a
Makefile
!util/tests/Makefile
bootstrapper/Makefile
hen.bin
util/assets/shellui.elf
